*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  appearance: none;
}

*:focus {
  outline: none;
}

.fancybox-bg {
  background: rgba(56, 64, 83, 0.8);
}

select {
  display: none;
}

ul {
  padding-left: 20px;
}

body {
  font-size: 16px;
  color: #232323;
  font-family: "Museo Cyrillic 300", sans-serif;
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  padding-bottom: 1000px;
}

a {
  color: #33cccc;
  transition: 0.25s all ease-in;
}

.header,
.main,
.footer {
  width: 100%;
}

.hidden {
  display: none !important;
}

.page {
  min-height: 100vh;
  position: relative;
  padding-left: 89px;
}

.main {
  flex: 1;
}

html {
  font-size: 16px;
  text-size-adjust: 100%;
}

html, body {
  overflow-x: hidden;
}

button {
  font-size: 100%;
  cursor: pointer;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
}

input[type="submit"] {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1640px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.inline-flex {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.ai-s {
  align-items: stretch;
}

.ai-c {
  align-items: center;
}

.ai-fs {
  align-items: flex-start;
}

.ai-b {
  align-items: baseline;
}

.ai-fe {
  align-items: flex-end;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-c {
  justify-content: center;
}

.fd-c {
  flex-direction: column;
}

.fw-w {
  flex-wrap: wrap;
}

.pt {
  padding-top: 6.5625rem !important;
}

.pb {
  padding-bottom: 6.5625rem !important;
}

.mt {
  margin-top: 3.125rem !important;
}

.btn {
  border: 0;
  background-color: #fff;
  border-radius: 1.8125rem;
  font-size: 1.125em;
  font-family: "Museo Cyrillic 500";
  line-height: 1;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  transition: 0.25s all ease-in;
  z-index: 0;
}

.btn:hover:before {
  clip-path: ellipse(50% 0% at 50% 0%);
}

.btn:before {
  content: attr(data-text);
  display: block;
  position: absolute;
  background-color: #33cccc;
  left: 0;
  top: 0;
  transition: .4s all ease-in;
  bottom: 0;
  width: 100%;
  border-radius: 1.8125rem;
  z-index: 2;
  clip-path: ellipse(100% 100% at 50% 50%);
}

.btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #232323;
  z-index: 1;
  width: 100%;
  transition: 0.25s all ease-in;
  border-radius: 1.8125rem;
  border: 2px solid #33cccc;
}

.btn span {
  position: relative;
  transition: 0.25s all ease-in;
  z-index: 1;
  color: #33cccc;
}

.mobile-menu {
  transition: 0.25s all ease-in;
  display: none;
}

.form__group {
  text-align: left;
  position: relative;
}

.form__group.form__group--textarea.focused .form__group-label {
  transform: translateY(0%);
}

.form__group.form__group--textarea .form__group-label {
  bottom: calc(100% + 3px);
  transform: translateY(100%);
}

.form__group.form__group--file.loaded span {
  color: #5c6b88;
}

.form__group.form__group--file .form__group-input {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__group.form__group--file .form__group-input svg {
  width: 13px;
  fill: #5c6b88;
  height: 14px;
}

.form__group.form__group--file .form__group-input span {
  width: calc(100% - 20px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.form__group.form__group--file input {
  display: none;
}

.form__group:not(:last-of-type) {
  margin-bottom: 35px;
}

.form__group .select2-container.select2-container--default.select2-container--open {
  top: 100% !important;
}

.form__group .select-dropdown {
  border-radius: 0 !important;
  background-color: #e1e6f1;
  border: 0;
  padding: 16px 0;
  font-size: 13px;
  box-shadow: 0px 0px 29px 0px rgba(42, 42, 42, 0.04);
  color: #3f4757;
}

.form__group .select2-container--default .select2-results__option--highlighted[aria-selected],
.form__group .select2-container--default .select2-results__option[aria-selected=true] {
  background-color: transparent;
  color: inherit;
}

.form__group .select2-container--default .select2-results__option[aria-disabled=true] {
  color: rgba(63, 71, 87, 0.5);
}

.form__group .select2-results__option {
  padding: 5px 1.125rem;
}

.form__group .select2.select2-container {
  width: 100% !important;
}

.form__group .select2-selection.select2-selection--single.select-wrap {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  height: auto;
}

.form__group .select2-selection.select2-selection--single.select-wrap .select2-selection__rendered {
  line-height: 1.2;
  padding-left: 0;
  font-size: 16px;
}

.form__group .select2-selection.select2-selection--single.select-wrap .select2-selection__arrow {
  height: 8px;
  right: 0;
  top: 50%;
  width: 8px;
  margin-top: -4px;
}

.form__group .select2-selection.select2-selection--single.select-wrap .select2-selection__arrow b {
  border: 0em;
  width: 100%;
  height: 100%;
  background: url("../img/arrow-icon.svg") no-repeat center;
  background-size: contain;
}

.form__group.filled .form__group-label {
  opacity: 0;
  visibility: hidden;
}

.form__group.filled.focused .form__group-label {
  opacity: 1;
  visibility: visible;
}

.form__group.focused .form__group-label {
  bottom: calc(100% + 3px);
  font-size: 13px;
  font-family: "Museo Cyrillic 500";
}

.form__group textarea {
  height: 55px;
}

.form__group input,
.form__group textarea {
  font-family: "Museo Sans Cyrillic 300", sans-serif;
  font-size: 16px;
  color: #232323;
  border: 0;
  background-color: transparent;
}

.form__group input::-webkit-input-placeholder,
.form__group textarea::-webkit-input-placeholder {
  font-size: 16px;
  color: rgba(35, 35, 35, 0.5);
  font-family: "Museo Cyrillic 300", sans-serif;
}

.form__group input::-moz-placeholder,
.form__group textarea::-moz-placeholder {
  font-size: 16px;
  color: rgba(35, 35, 35, 0.5);
  font-family: "Museo Cyrillic 300", sans-serif;
}

.form__group input:-ms-input-placeholder,
.form__group textarea:-ms-input-placeholder {
  font-size: 16px;
  color: rgba(35, 35, 35, 0.5);
  font-family: "Museo Cyrillic 300", sans-serif;
}

.form__group input:-moz-placeholder,
.form__group textarea:-moz-placeholder {
  font-size: 16px;
  color: rgba(35, 35, 35, 0.5);
  font-family: "Museo Cyrillic 300", sans-serif;
}

.form__group.has--error .form__group-message {
  display: inline-block;
}

.form__group-label {
  display: block;
  position: absolute;
  font-family: "Museo Sans Cyrillic 300";
  cursor: text;
  transition: 0.25s all ease-in;
  bottom: 4px;
  color: rgba(35, 35, 35, 0.5);
}

.form__group-input {
  display: block;
  border-bottom: 1px solid #5c6b88;
  padding-bottom: 4px;
}

.form__group-message {
  font-size: .8em;
  color: red;
  display: none;
  margin-top: .2rem;
}

.modal {
  max-width: 100%;
  padding: 3.125rem 3.75rem 2.5rem;
  text-align: center;
}

.modal__btn {
  height: 3.625rem;
  width: 243px;
  margin: 35px auto 0;
}

.modal__btn:before {
  line-height: 3.625rem;
}

.modal__content {
  margin-top: 3.25rem;
}

.modal__title {
  font-size: 1.75em;
  text-transform: uppercase;
  font-family: "Museo Cyrillic 700";
}

.modal-close {
  width: 26px;
  height: 26px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 15px;
}

.modal-close svg {
  width: 16px;
  height: 16px;
  fill: rgba(0, 0, 0, 0.5);
}

.callback-modal {
  min-width: 442px;
}

.caption {
  text-align: center;
  font-family: "Museo Cyrillic 700";
  text-transform: uppercase;
  font-size: 1.75em;
}

.checkbox {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  display: inline-block;
}

.checkbox input {
  display: none;
}

.checkbox span {
  transition: 0.25s all ease-in;
}

.checkbox span:before {
  content: '';
  display: inline-block;
  position: absolute;
  transition: 0.25s all ease-in;
}

.checkbox span:after {
  content: '';
  display: inline-block;
  position: absolute;
  transition: 0.25s all ease-in;
}

.radio {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  display: inline-block;
}

.radio input {
  display: none;
}

.radio span {
  transition: 0.25s all ease-in;
}

.radio span:before {
  content: '';
  display: inline-block;
  position: absolute;
  transition: 0.25s all ease-in;
}

.radio span:after {
  content: '';
  display: inline-block;
  position: absolute;
  transition: 0.25s all ease-in;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 89px;
  left: 0;
  z-index: 2;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4.1vh 0 5.5vh;
  box-shadow: 0px 22px 30px 0px rgba(42, 42, 42, 0.1);
}

.sidebar__language {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  position: relative;
  font-size: 14px;
  color: #232323;
}

.sidebar__language:hover {
  color: #ffffff;
}

.sidebar__language:hover .sidebar__language-choose {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0) translateX(0%);
}

.sidebar__language-current {
  transition: .25s all ease-in;
  font-family: "Museo Sans Cyrillic 500";
}

.sidebar__language-choose {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0 26px 0 calc(89px + 26px);
  background-color: #33cccc;
  z-index: -1;
  font-family: "Museo Sans Cyrillic 300";
  letter-spacing: 0.003em;
  transform: translate3d(0, 0, 0) translateX(-30%);
  opacity: 0;
  transition: .45s transform ease-in, .25s opacity ease-in, .25s visibility ease-in;
  visibility: hidden;
}

.sidebar__language-choose a {
  color: #ffffff;
  text-decoration: none;
}

.sidebar__language-choose li:not(:last-of-type) {
  padding-right: 10px;
  margin-right: 10px;
  position: relative;
}

.sidebar__language-choose li:not(:last-of-type):after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #ffffff;
}

.sidebar__link {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__link-inner {
  position: relative;
}

.sidebar__link-amount {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #33cccc;
  border-radius: 50%;
  min-width: 17px;
  padding: 0 2px;
  height: 17px;
  font-size: 10px;
  font-family: "Museo Cyrillic 500";
  text-align: center;
  left: calc(100% - 9px);
  line-height: .7;
  top: calc(100% - 12px);
  color: #ffffff;
}

.sidebar__link svg {
  transition: 0.25s all ease-in;
  fill: #232323;
}

.sidebar__link:hover svg {
  fill: #33cccc;
}

.sidebar__bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.sidebar__bottom > * {
  width: 100%;
}

.sidebar__nav {
  width: 100%;
}

.sidebar__nav svg {
  fill: #232323;
  transition: .25s fill ease-in;
  max-height: 75%;
  width: auto;
}

.sidebar__nav a {
  position: relative;
  text-align: center;
  display: block;
  text-decoration: none;
  height: 50px;
}

.sidebar__nav a:hover svg {
  fill: #fff;
}

.sidebar__nav a:hover .sidebar__nav-title {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0) translateX(0);
}

.sidebar__nav-title {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 26px 0 calc(89px + 26px);
  background-color: #33cccc;
  color: #ffffff;
  font-size: 14px;
  z-index: -1;
  letter-spacing: 0.003em;
  transform: translate3d(0, 0, 0) translateX(-30%);
  opacity: 0;
  transition: .45s transform ease-in, .25s opacity ease-in, .25s visibility ease-in;
  visibility: hidden;
}

.sidebar__nav-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sidebar__nav ul {
  padding-left: 0;
  list-style-type: none;
}

.sidebar__toggler {
  font-size: 14px;
  font-family: "Museo Cyrillic 500";
  background-color: transparent;
  border: 0;
}

.sidebar__toggler.disabled {
  pointer-events: none;
}

.sidebar__toggler.active .sidebar__toggler-line:nth-of-type(2) {
  width: 0;
}

.sidebar__toggler.active .sidebar__toggler-line:nth-of-type(1) {
  transform: rotate(-45deg);
  top: 9px;
}

.sidebar__toggler.active .sidebar__toggler-line:nth-of-type(3) {
  top: 9px;
  transform: rotate(45deg);
  width: 100%;
}

.sidebar__toggler-btn {
  margin-top: 8px;
  position: relative;
  width: 30px;
  height: 20px;
}

.sidebar__toggler-line {
  position: absolute;
  background-color: #232323;
  border-radius: 4px;
  height: 2px;
  left: 0;
}

.sidebar__toggler-line:nth-of-type(1) {
  top: 0;
  width: 100%;
  transition: .4s all ease-in .15s;
}

.sidebar__toggler-line:nth-of-type(2) {
  top: 9px;
  width: 23px;
  transition: .25s all ease-in;
}

.sidebar__toggler-line:nth-of-type(3) {
  top: 18px;
  width: 16px;
  transition: .4s all ease-in .15s;
}

.logo {
  width: 5.4375rem;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}

.dashed-link {
  display: inline-block;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}

.socials-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.socials-list li:not(:last-of-type) {
  margin-right: 9px;
}

.socials-list a {
  display: block;
}

.header__socials svg {
  fill: #fff;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header__cta {
  font-size: 12px;
  border-bottom-color: rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7) !important;
}

.header__cta:hover {
  color: #fff !important;
  border-bottom-color: #fff;
}

.header.header--main {
  position: relative;
  color: #ffffff;
}

.header.header--main .header__line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding-top: 4.0625rem;
}

.header__phones {
  position: relative;
  z-index: 0;
  line-height: 1;
}

.header__phones a {
  white-space: nowrap;
}

.header__phones:hover .header__phones-dropdown {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0%);
  visibility: visible;
}

.header__phones:hover .header__phones-arrow {
  transform: rotate(-180deg);
}

.header__phones-dropdown {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 0, 0) translateY(-25%);
  transition: 0.85s transform cubic-bezier(0.47, 0.98, 0.82, 0.98), 0.5s opacity ease-in, 0.5s visibility ease-in;
  background-color: #ffffff;
  left: 0;
  min-width: 100%;
  padding: 10px 16px;
  top: 100%;
  color: #232323;
  font-size: 14px;
}

.header__phones-dropdown a {
  display: block;
}

.header__phones-dropdown a:hover {
  color: #33cccc;
}

.header__phones-dropdown a:not(:last-of-type) {
  margin-bottom: 6px;
}

.header__phones-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Museo Cyrillic 500";
  cursor: pointer;
}

.header__phones-arrow {
  display: inline-block;
  transition: 0.25s all ease-in;
}

.header__phones-arrow svg {
  fill: #fff;
}

.header__phones-current {
  margin-right: 10px;
}

.header__right {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.header__call {
  margin-right: 1.875rem;
}

.header__search {
  margin-right: 2rem;
}

.header__search.active .header__search-icon svg:nth-of-type(1) {
  transform: scale(0);
  opacity: 0;
}

.header__search.active .header__search-icon svg:nth-of-type(2) {
  transform: scale(1);
  opacity: 1;
}

.header__search.active .header__search-inner {
  transform: translate3d(0, 0, 0) translateY(0%);
  opacity: 1;
  visibility: visible;
}

.header__search-inner {
  position: absolute;
  top: 0;
  left: -89px;
  background-color: #ffffff;
  width: calc(100% + 89px);
  padding-left: 26.04%;
  transform: translate3d(0, 0, 0) translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.85s transform cubic-bezier(0.47, 0.98, 0.82, 0.98), 0.5s opacity ease-in, 0.5s visibility ease-in;
}

.header__search-inner input {
  height: 32px;
  background-color: transparent;
  border: 0;
  width: 100%;
  font-size: 18px;
  padding: 0 14px;
  margin-top: -8px;
}

.header__search-inner input::-webkit-input-placeholder {
  font-size: 18px;
}

.header__search-inner input::-moz-placeholder {
  font-size: 18px;
}

.header__search-inner input:-ms-input-placeholder {
  font-size: 18px;
}

.header__search-inner input:-moz-placeholder {
  font-size: 18px;
}

.header__search-icon {
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 5;
  width: 16px;
  height: 16px;
}

.header__search-icon svg {
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.85s all cubic-bezier(0.47, 0.98, 0.82, 0.98);
}

.header__search-icon svg:nth-of-type(1) {
  transform: scale(1);
  opacity: 1;
  fill: #fff;
}

.header__search-icon svg:nth-of-type(2) {
  transform: scale(0);
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  fill: rgba(0, 0, 0, 0.5);
}

.header__line > .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 4.1vh 0 5.5vh;
  justify-content: center;
  color: #232323;
  padding-left: 89px;
  opacity: 0;
  visibility: hidden;
}

.menu__bg {
  position: absolute;
  background-color: #ffffff;
  left: 0;
  top: 0;
  z-index: -1;
  bottom: 0;
  right: 0;
}

.menu__info {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.menu__socials a:hover svg {
  fill: #33cccc;
}

.menu__socials a svg {
  transition: 0.25s all ease-in;
}

.menu__phones {
  margin-right: 26px;
}

.menu__phones a {
  text-decoration: none;
  display: block;
}

.menu__phones a:not(:last-of-type) {
  margin-bottom: 3px;
}

.menu__phones a:hover {
  color: #33cccc;
}

.menu__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu > .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
}

.menu__nav {
  text-align: center;
  font-family: "Museo Cyrillic 500";
  width: 100%;
  font-size: 1.75em;
}

.menu__nav a {
  text-decoration: none;
}

.menu__nav a:hover {
  color: #33cccc;
}

.menu__nav ul {
  padding-left: 0;
  list-style-type: none;
}

.menu__nav ul li {
  position: relative;
}

.menu__nav ul li:not(:last-of-type) {
  margin-bottom: 1.375rem;
}

.banner {
  height: 100vh;
  position: relative;
}

.banner .swiper-pagination {
  bottom: 5.5vh;
  display: inline-block;
  left: auto;
  width: auto;
  font-family: "Museo Cyrillic 500";
}

.banner .swiper-pagination .swiper-pagination-bullet {
  width: auto;
  height: auto;
  opacity: 1;
  padding-right: 0;
  position: relative;
  transition: 0.25s all ease-in;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

.banner .swiper-pagination .swiper-pagination-bullet:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  transition: 0.25s all ease-in;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  right: 0;
}

.banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: #ffffff;
  padding-right: 24px;
}

.banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  width: 16px;
}

.banner .swiper-pagination .swiper-pagination-bullet:not(:last-of-type) {
  margin: 0;
  margin-right: 12px;
}

.banner.active .banner__overlay {
  display: block;
}

.banner__overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

.banner__slider {
  height: 100%;
}

.banner__bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.banner__inner {
  width: 41.61%;
  margin-right: 4.6%;
}

.banner .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
}

.banner .swiper-slide > .container {
  display: flex;
  justify-content: flex-end;
}

.banner__title {
  font-family: "Museo Cyrillic 500";
  font-size: 3.75em;
}

.banner__descr {
  font-size: 1.75em;
  margin-top: 1.3rem;
}

.constructor {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.constructor__btn {
  height: 3.625rem;
  width: 243px;
  display: block;
  margin: 3.125rem auto 0;
}

.constructor__btn:before {
  line-height: 3.625rem;
}

.constructor__line {
  position: absolute;
  opacity: .2;
  left: 0;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.constructor__content {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.constructor__col {
  width: calc(25% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.constructor__col-title {
  font-size: 1.125em;
  font-family: "Museo Cyrillic 500";
  text-align: center;
  position: relative;
}

.constructor__col-title p {
  display: inline-block;
}

.constructor__col .form__group.filled.focused .form__group-label {
  color: rgba(92, 107, 136, 0.5);
}

.constructor__col-content {
  margin-top: 3.75rem;
}

.constructor__col-img {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13.75rem;
  width: 100%;
}

.constructor__col-img img {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 100%;
}

.tabs__content {
  margin-top: 3.125rem;
  position: relative;
}

.tabs__list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.tabs__list li {
  line-height: 1;
}

.tabs__list li:hover a, .tabs__list li.active a {
  border-color: #33cccc;
}

.tabs__list a {
  white-space: nowrap;
  text-decoration: none;
  padding: 12px 13px;
  color: #232323;
  display: block;
  font-family: "Museo Cyrillic 500";
  text-transform: uppercase;
  transition: 0.25s all ease-in;
  border-radius: 1.3125rem;
  border: 1px solid transparent;
}

.top {
  background-color: #f4f6fd;
}

.top__content {
  margin-top: 1.875rem;
}
