header(class={'header': true, 'header--main': isMainPage, 'header--inner': !isMainPage, 'header--white': isHeaderWhite})
  .menu#sidebar-menu
    .menu__bg
    .container
      nav.menu__nav
        ul
          li
            a(href="#") Главная
          li
            a(href="#") О нас
          li
            a(href="#") Каталог
          li.menu__nav-mobile
            a Категории
            ul
              li
                a(href="#") Пряники
              li
                a(href="#") Торты
              li
                a(href="#") Десерты
              li
                a(href="#") Кейк-попсы
              li
                a(href="#") Капкейки
              li
                a(href="#") Печенье
              li
                a(href="#") Корпоративы
          li
            a(href="#") Вопросы и ответы
          li
            a(href="#") Доставка и оплата
          li
            a(href="#") Блог
          li
            a(href="#") Контакты
      .menu__bottom
        .menu__left
          .menu__actions
            a(href="#").action-link.auth-toggler
              .action-link-inner
                <svg width="17" height="18"><use xlink:href="#account-icon" /></svg>
            a(href="#").action-link
              .action-link-inner
                <svg width="17" height="20"><use xlink:href="#cart-icon" /></svg>
                .action-link-amount
                  span 10
            a(href="#").action-link
              .action-link-inner
                <svg width="19" height="18"><use xlink:href="#favourite-icon" /></svg>
                // show circle if amount > 0
                .action-link-amount(style="display: none")
                  span 0
          .menu__info
            .menu__phones
              .menu__phones-inner
                a(href="tel:+38 (097) 816-46-86") +38 (097) 816-46-86
                a(href="tel:+38 (097) 816-46-87") +38 (097) 816-46-87
              a(href="#" data-fancybox data-src="#callback-modal").menu__cta.cta-link.dashed-link Перезвонить
            ul.menu__socials.socials-list
              li
                a(href="#")
                  <svg width="19" height="15"><use xlink:href="#telegram-icon" /></svg>
              li
                a(href="#")
                  <svg width="16" height="16"><use xlink:href="#instagram-icon" /></svg>
              li
                a(href="#")
                  <svg width="16" height="16"><use xlink:href="#fb-icon" /></svg>
        .menu__right
          ul.menu__languages
            li.current
              a(href="#") RU
            li
              a(href="#") EN
            li
              a(href="#") UA
          .menu__address
            p г. Харьков,<br>ул. Плехановская, 12


  include ./_sidebar

  .header__auth
    i.header__auth-close
      <svg><use xlink:href="#close-icon"/></svg>
    .header__auth-bg
    .header__auth-inner
      .header__auth-item.active#auth
        .header__auth-form
          p.caption вход
          form(action="#").header__auth--margin
            .form__group-inputs
              .form__group
                label.form__group-label(for="lf-n") Email или Телефон
                .form__group-input
                  input(type="text" class="only-text-input" id="lf-n")
                span.form__group-message Ошибка
              .form__group
                label.form__group-label(for="lf-p") Пароль
                .form__group-input
                  input(type="password" id="lf-p")
                span.form__group-message Ошибка
            .header__auth-form-bottom
              label.checkbox.checkbox--small
                input(type="checkbox")
                span Запомнить меня
              a(href="#" data-target="remind").dashed-link.header__auth-form-remind.header__auth-target Восстановить пароль
            button(data-text="Войти").btn.header__auth-form-btn
              span Войти
        .header__auth-right
          p.caption Присоединяйся!
          .header__auth-right-content.header__auth--margin
            p.header__auth-descr Регистрируйтесь, чтобы иметь доступ<br>к нашим скидкам и бонусам
            a(href="#" data-text="Регистрация" data-target="register").btn.btn--linear.header__auth-right-btn.header__auth-target
              span Регистрация
      .header__auth-item#remind
        .header__auth-form
          p.caption забыли пароль?
          form(action="#").header__auth--margin
            p.header__auth-additional Введите e-mail от вашего личного кабинета и мы вышлем вам временный пароль
            .form__group-inputs
              .form__group
                label.form__group-label(for="rm-p") Пароль
                .form__group-input
                  input(type="password" id="rm-p")
                span.form__group-message Ошибка
            button(data-text="Восстановить пароль").btn.header__auth-form-btn
              span Восстановить пароль
        .header__auth-right
          p.caption Вспомнили пароль?!
          .header__auth-right-content.header__auth--margin
            button(data-text="Авторизация" data-target="auth").btn.btn--linear.header__auth-right-btn.header__auth-target
              span Авторизация

      .header__auth-item#register
        .header__auth-form
          p.caption Регистрация
          form(action="#").header__auth--margin
            p.header__auth-additional Введите e-mail от вашего личного кабинета и мы вышлем вам временный пароль
            .form__group-inputs
              .form__group
                label.form__group-label(for="reg-e") Email*
                .form__group-input
                  input(type="email" id="reg-e")
                span.form__group-message Ошибка
              .form__group
                label.form__group-label(for="reg-p") Пароль*
                .form__group-input
                  input(type="email" id="reg-p")
                span.form__group-message Ошибка
              .form__group
                label.form__group-label(for="reg-pp") Повторите пароль*
                .form__group-input
                  input(type="email" id="reg-pp")
                span.form__group-message Ошибка
            .header__auth-form-bottom
              label.checkbox.checkbox--small
                input(type="checkbox")
                span Предоставляя свои персональные данные, даю согласие на их обработку
            button(data-text="Регистрация").btn.header__auth-form-btn
              span Регистрация
        .header__auth-right
          p.caption Уже зарегистрированы?
          .header__auth-right-content.header__auth--margin
            p.header__auth-descr Войдите в свою учетную запись
            button(data-text="Войти").btn.btn--linear.header__auth-right-btn
              span Войти

  .header__line
    .container
      a(href="#").logo.header__logo
        if isMainPage || isHeaderWhite
          img(src="./img/logo--white.png" alt="alt")
        else
          img(src="./img/logo.png" alt="alt")
      .header__right
        .header__search#header-search
          i.header__search-icon
            <svg><use xlink:href="#search-icon" /></svg>
            <svg><use xlink:href="#close-icon" /></svg>
          .header__search-wrapper
            .header__search-inner
              .header__search-input
                input(type="text" placeholder="Поиск..")
              .header__search-results
                .header__search-results-inner.scrollbar-inner
                  .product
                    a(href="#").product__img
                      img(src="./img/product-img.jpg" alt="product")
                      .product__labels
                        span.label New
                        span.label Top
                    .product__info
                      p.product__title Пряники “Медвежонок”
                      .product__actions
                        .product__btn
                          i.product__btn-icon
                            <svg width="15" height="14"><use xlink:href="#favourite-icon"/></svg>
                          span.product__btn-tooltip В избранное
                        .product__btn
                          i.product__btn-icon
                            <svg width="13" height="15"><use xlink:href="#cart-icon"/></svg>
                          span.product__btn-tooltip В корзину
                        .product__btn
                          i.product__btn-icon
                            <svg width="13" height="9"><use xlink:href="#view-icon"/></svg>
                          span.product__btn-tooltip Подробнее


                  .product
                    a(href="#").product__img
                      img(src="./img/product-img.jpg" alt="product")
                      .product__labels
                        span.label New
                        span.label Top
                    .product__info
                      p.product__title Пряники “Медвежонок”
                      .product__actions
                        .product__btn
                          i.product__btn-icon
                            <svg width="15" height="14"><use xlink:href="#favourite-icon"/></svg>
                          span.product__btn-tooltip В избранное
                        .product__btn
                          i.product__btn-icon
                            <svg width="13" height="15"><use xlink:href="#cart-icon"/></svg>
                          span.product__btn-tooltip В корзину
                        .product__btn
                          i.product__btn-icon
                            <svg width="13" height="9"><use xlink:href="#view-icon"/></svg>
                          span.product__btn-tooltip Подробнее


                  .product
                    a(href="#").product__img
                      img(src="./img/product-img.jpg" alt="product")
                      .product__labels
                        span.label New
                        span.label Top
                    .product__info
                      p.product__title Пряники “Медвежонок”
                      .product__actions
                        .product__btn
                          i.product__btn-icon
                            <svg width="15" height="14"><use xlink:href="#favourite-icon"/></svg>
                          span.product__btn-tooltip В избранное
                        .product__btn
                          i.product__btn-icon
                            <svg width="13" height="15"><use xlink:href="#cart-icon"/></svg>
                          span.product__btn-tooltip В корзину
                        .product__btn
                          i.product__btn-icon
                            <svg width="13" height="9"><use xlink:href="#view-icon"/></svg>
                          span.product__btn-tooltip Подробнее
                  .product
                    a(href="#").product__img
                      img(src="./img/product-img.jpg" alt="product")
                      .product__labels
                        span.label New
                        span.label Top
                    .product__info
                      p.product__title Пряники “Медвежонок”
                      .product__actions
                        .product__btn
                          i.product__btn-icon
                            <svg width="15" height="14"><use xlink:href="#favourite-icon"/></svg>
                          span.product__btn-tooltip В избранное
                        .product__btn
                          i.product__btn-icon
                            <svg width="13" height="15"><use xlink:href="#cart-icon"/></svg>
                          span.product__btn-tooltip В корзину
                        .product__btn
                          i.product__btn-icon
                            <svg width="13" height="9"><use xlink:href="#view-icon"/></svg>
                          span.product__btn-tooltip Подробнее


                  .product
                    a(href="#").product__img
                      img(src="./img/product-img.jpg" alt="product")
                      .product__labels
                        span.label New
                        span.label Top
                    .product__info
                      p.product__title Пряники “Медвежонок”
                      .product__actions
                        .product__btn
                          i.product__btn-icon
                            <svg width="15" height="14"><use xlink:href="#favourite-icon"/></svg>
                          span.product__btn-tooltip В избранное
                        .product__btn
                          i.product__btn-icon
                            <svg width="13" height="15"><use xlink:href="#cart-icon"/></svg>
                          span.product__btn-tooltip В корзину
                        .product__btn
                          i.product__btn-icon
                            <svg width="13" height="9"><use xlink:href="#view-icon"/></svg>
                          span.product__btn-tooltip Подробнее
                  .product
                    a(href="#").product__img
                      img(src="./img/product-img.jpg" alt="product")
                      .product__labels
                        span.label New
                        span.label Top
                    .product__info
                      p.product__title Пряники “Медвежонок”
                      .product__actions
                        .product__btn
                          i.product__btn-icon
                            <svg width="15" height="14"><use xlink:href="#favourite-icon"/></svg>
                          span.product__btn-tooltip В избранное
                        .product__btn
                          i.product__btn-icon
                            <svg width="13" height="15"><use xlink:href="#cart-icon"/></svg>
                          span.product__btn-tooltip В корзину
                        .product__btn
                          i.product__btn-icon
                            <svg width="13" height="9"><use xlink:href="#view-icon"/></svg>
                          span.product__btn-tooltip Подробнее


        .header__call
          .header__phones.dropdown
            .dropdown__top
              a(href="tel:+38 (097) 816-46-86").dropdown__current +38 (097) 816-46-86
              i.dropdown__arrow
                <svg width="8" height="5"><use xlink:href="#arrow-icon" /></svg>
            .dropdown__list.header__phones-dropdown
              a(href="tel:+38 (097) 816-46-86") +38 (033) 333-33-33
              a(href="tel:+38 (097) 816-46-86") +38 (044) 444-44-44
          a(href="#" data-fancybox data-src="#callback-modal").header__cta.cta-link.dashed-link Перезвонить
        ul.header__socials.socials-list
          li
            a(href="#")
              <svg width="19" height="15"><use xlink:href="#telegram-icon" /></svg>
          li
            a(href="#")
              <svg width="16" height="16"><use xlink:href="#instagram-icon" /></svg>
          li
            a(href="#")
              <svg width="16" height="16"><use xlink:href="#fb-icon" /></svg>
        button.header__right-toggler.menu-toggler.burger
          .burger__btn
            span.burger__line
            span.burger__line
            span.burger__line
