extends ../includes/_layout

block header
  - var isMainPage = false;
  include ../includes/_header

block main

  main.main
    section.pblog-item.pb
      - var breadcrumbs = ['Блог', 'Как правильно выбрать свадебный торт'];
      include ../includes/_breadcrumbs
      .inner__content
        .container
          .pblog-item__content
            img(src="./img/blog-item-img.jpg" alt="alt")
            br
            .pblog-item__right
              .pblog-item__top
                p.pblog-item__title Как правильно выбрать свадебный торт
                .pblog-item__info
                  span.pblog-item__date 13.03.2019
                  .pblog-item__views
                    <svg width="17" height="10"><use xlink:href="#views-icon"/></svg>
                    span 1246
              .pblog-item__text
                h3 Как выбрать декор?
                br
                p Есть несколько вариантов расположения цветов: классическая схема ­– венок вокруг каждого яруса, интересно смотрится каскад по спирали, творческое и смелое решение ­– разместить цветы хаотично. Еще один необычный ход ­– использовать только лепестки. Выбор минималистов – пара цветов на верхушке изделия.
                br
                p Цветами украшают не только многоярусные торты, но и индивидуальные десерты: капкейки, пирожные можно декорировать одним большим цветком или россыпью маленьких.
                br
                p Позаботьтесь, чтобы декор свадебного торта сочетался с остальным украшением праздника. Текстиль на столе, цвет платьев подружек невесты, флористические композиции ­– единая цветовая гамма будет радовать глаз и на празднике, и на фотографиях. Подобрать гармоничные оттенки можно с помощью онлайн-генераторов цветовых палитр.
                br
                p Чтобы выбрать подходящие цветы, подумайте о настроении праздника: трогательные полевые растения уместны для свадьбы на природе, а пышные лилии подчеркнут роскошь обстановки дворцового зала. Цветами украшают не только многоярусные торты, но и индивидуальные десерты: капкейки, пирожные можно декорировать одним большим цветком или россыпью маленьких.
                br
                br
                br
                p Торты, украшенные цветами, не стоит перегружать другими элементами, посоветуйтесь с кондитером, декоратором или флористом, чтобы выбрать оптимальную композицию.
                br
                br
                h3 Как выбрать декор?
                br
                p Тенденций к размеру торта на сегодняшний день нет, каждый заказ для кондитеров сугубо индивидуален. Выбирая размер будущего свадебного торта, вы должны исходить из собственных предпочтений и количества гостей. Идеальная формула для того, чтобы рассчитать торт по весу — из расчета 150 грамм на человека. Свадебный торт, рассчитанный на 40 человек — это обычно 3-х ярусный торт, весом 14-15 килограмм, нижний ярус которого в диаметре 30 сантиметров, верхние ярусы 14-15 сантиметров. Для тортов большого объема обычно используется система муляжей, то есть несколько ярусов могут быть сделаны только из бисквита или может использоваться пенопласт, покрытый пищевым картоном.

          .pblog-item__bottom
            ul.blog-item__categories.blog-categories
              li
                a(href="#") Новости
              li
                a(href="#") Пряники

    section.last-news.pb
      .container
        p.caption Последние новости
        .pblog__items.last-news__content.mt
          .blog-item
            a(href="#").blog-item__img
              img(src="./img/blog-catalog-img.jpg" alt="alt")
            .blog-item__bottom
              a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
              .blog-item__info
                p.blog-item__date 15.03.2019
                ul.blog-item__categories.blog-categories
                  li
                    a(href="#") Новости
                  li
                    a(href="#") Праздники
          .blog-item
            a(href="#").blog-item__img
              img(src="./img/blog-catalog-img.jpg" alt="alt")
            .blog-item__bottom
              a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
              .blog-item__info
                p.blog-item__date 15.03.2019
                ul.blog-item__categories.blog-categories
                  li
                    a(href="#") Новости
                  li
                    a(href="#") Праздники
          .blog-item
            a(href="#").blog-item__img
              img(src="./img/blog-catalog-img.jpg" alt="alt")
            .blog-item__bottom
              a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
              .blog-item__info
                p.blog-item__date 15.03.2019
                ul.blog-item__categories.blog-categories
                  li
                    a(href="#") Новости
                  li
                    a(href="#") Праздники
          .blog-item
            a(href="#").blog-item__img
              img(src="./img/blog-catalog-img.jpg" alt="alt")
            .blog-item__bottom
              a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
              .blog-item__info
                p.blog-item__date 15.03.2019
                ul.blog-item__categories.blog-categories
                  li
                    a(href="#") Новости
                  li
                    a(href="#") Праздники