extends ../includes/_layout

block header
  - var isMainPage = false;
  include ../includes/_header

block main

  main.main
    section.pblog.mb--small
      - var breadcrumbs = ['Блог'];
      include ../includes/_breadcrumbs
      .inner__content
        .container
          p.caption Блог
          .pblog__content
            .pblog__categories
              p.pblog__categories-title Рубрики:
              ul.pblog__categories-list.blog-categories
                li
                  a(href="#") Новости
                li.selected
                  a(href="#") Пряники
                li
                  a(href="#") Праздники
                li.selected
                  a(href="#") Новинки
                li
                  a(href="#") Мастер-классы
            .pblog__items
              .blog-item
                a(href="#").blog-item__img
                  img(src="./img/blog-catalog-img.jpg" alt="alt")
                .blog-item__bottom
                  a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
                  .blog-item__info
                    p.blog-item__date 15.03.2019
                    ul.blog-item__categories.blog-categories
                      li
                        a(href="#") Новости
                      li
                        a(href="#") Праздники
              .blog-item
                a(href="#").blog-item__img
                  img(src="./img/blog-catalog-img.jpg" alt="alt")
                .blog-item__bottom
                  a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
                  .blog-item__info
                    p.blog-item__date 15.03.2019
                    ul.blog-item__categories.blog-categories
                      li
                        a(href="#") Новости
                      li
                        a(href="#") Праздники
              .blog-item
                a(href="#").blog-item__img
                  img(src="./img/blog-catalog-img.jpg" alt="alt")
                .blog-item__bottom
                  a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
                  .blog-item__info
                    p.blog-item__date 15.03.2019
                    ul.blog-item__categories.blog-categories
                      li
                        a(href="#") Новости
                      li
                        a(href="#") Праздники
              .blog-item
                a(href="#").blog-item__img
                  img(src="./img/blog-catalog-img.jpg" alt="alt")
                .blog-item__bottom
                  a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
                  .blog-item__info
                    p.blog-item__date 15.03.2019
                    ul.blog-item__categories.blog-categories
                      li
                        a(href="#") Новости
                      li
                        a(href="#") Праздники
              .blog-item
                a(href="#").blog-item__img
                  img(src="./img/blog-catalog-img.jpg" alt="alt")
                .blog-item__bottom
                  a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
                  .blog-item__info
                    p.blog-item__date 15.03.2019
                    ul.blog-item__categories.blog-categories
                      li
                        a(href="#") Новости
                      li
                        a(href="#") Праздники
              .blog-item
                a(href="#").blog-item__img
                  img(src="./img/blog-catalog-img.jpg" alt="alt")
                .blog-item__bottom
                  a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
                  .blog-item__info
                    p.blog-item__date 15.03.2019
                    ul.blog-item__categories.blog-categories
                      li
                        a(href="#") Новости
                      li
                        a(href="#") Праздники
              .blog-item
                a(href="#").blog-item__img
                  img(src="./img/blog-catalog-img.jpg" alt="alt")
                .blog-item__bottom
                  a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
                  .blog-item__info
                    p.blog-item__date 15.03.2019
                    ul.blog-item__categories.blog-categories
                      li
                        a(href="#") Новости
                      li
                        a(href="#") Праздники
              .blog-item
                a(href="#").blog-item__img
                  img(src="./img/blog-catalog-img.jpg" alt="alt")
                .blog-item__bottom
                  a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
                  .blog-item__info
                    p.blog-item__date 15.03.2019
                    ul.blog-item__categories.blog-categories
                      li
                        a(href="#") Новости
                      li
                        a(href="#") Праздники
              .blog-item
                a(href="#").blog-item__img
                  img(src="./img/blog-catalog-img.jpg" alt="alt")
                .blog-item__bottom
                  a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
                  .blog-item__info
                    p.blog-item__date 15.03.2019
                    ul.blog-item__categories.blog-categories
                      li
                        a(href="#") Новости
                      li
                        a(href="#") Праздники
              .blog-item
                a(href="#").blog-item__img
                  img(src="./img/blog-catalog-img.jpg" alt="alt")
                .blog-item__bottom
                  a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
                  .blog-item__info
                    p.blog-item__date 15.03.2019
                    ul.blog-item__categories.blog-categories
                      li
                        a(href="#") Новости
                      li
                        a(href="#") Праздники
              .blog-item
                a(href="#").blog-item__img
                  img(src="./img/blog-catalog-img.jpg" alt="alt")
                .blog-item__bottom
                  a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
                  .blog-item__info
                    p.blog-item__date 15.03.2019
                    ul.blog-item__categories.blog-categories
                      li
                        a(href="#") Новости
                      li
                        a(href="#") Праздники
              .blog-item
                a(href="#").blog-item__img
                  img(src="./img/blog-catalog-img.jpg" alt="alt")
                .blog-item__bottom
                  a(href="#").blog-item__title На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники На носу Пасха. Выбираем праздничные пряники
                  .blog-item__info
                    p.blog-item__date 15.03.2019
                    ul.blog-item__categories.blog-categories
                      li
                        a(href="#") Новости
                      li
                        a(href="#") Праздники
            .pagination.mt--small
              ul
                li.pagination-prev
                  a(href="#")
                    <svg width="8" height="8"><use xlink:href="#arrow-icon"/></svg>
                li
                  a(href="#") 01
                li
                  a(href="#") 02
                li.pagination--current
                  a(href="#") 03
                li
                  a(href="#") 04
                li
                  a(href="#") 05
                li.pagination-next
                  a(href="#")
                    <svg width="8" height="8"><use xlink:href="#arrow-icon"/></svg>

